<div style="width: 80%;margin: 0 auto;">
    <h1 style="text-align: center;">Your Appointment List</h1>
    <ul class="list-unstyled">
        <li style="margin-bottom: 1em;" *ngFor="let appoinment of appointments;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer name: {{appoinment.customerId.firstName}} {{appoinment.customerId.lastName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Phone: {{appoinment.customerId.phone}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Email: {{appoinment.customerId.email}}</h6>
                    <hr>
                    <h5 class="card-title">Appointment time</h5>
                    <p class="card-text">Year:{{appoinment.timetableId.year}} Month: {{ appoinment.timetableId.month }} Date: {{appoinment.timetableId.date}}</p>
                   
                        
                    <p class="card-text">From:{{appoinment.timeId.startHour}}:{{appoinment.timeId.startMin}} to {{appoinment.timeId.endHour}}:{{appoinment.timeId.endMin}}</p>
                    
                    <hr>
                    <a class="btn btn-danger card-link" (click)="deleteFunc(appoinment._id)">cancel an appoinment</a>
                
                </div>
            </div>
        </li>
    </ul>
</div>
